﻿@page
@model CompanyModel
@{
    ViewBag.Title = "Home page";
}

<div class="row overflow-auto" style="height: 75vh;">
    <div class="col-md-2">
        <div class="btn-group-vertical">
            @foreach (var button in Model.MenuButtons)
            {
                <button type = "button" class="btn btn-success" @(button.IsDisabled ? "disabled" : "") onclick = "setURL('@button.Url')" data-toggle="tooltip" data-placement="bottom" title="@button.ToolTip">@button.ButtonText</button>
            }
            <br />
            <form method="post">
                @foreach (var auth in Model.AuthMethods)
                {
                    <input type="radio" asp-for="Authentication" value="@auth" />@auth<br />
                }
                <input type="submit" />
            </form>
        </div>
    </div>
    <div class="col-md-10">
        <iframe style="border: 0; position:relative; width:100%; height:100%" src="@ViewBag.IFrameSrc" id="iframe"></iframe>
    </div>
</div>

@section Scripts {
    <script>
        function setURL(url){
            document.getElementById('iframe').src = url;
        }
        $('.openBtn').on('click',function(){
            $('.modal-body').load('https://cors-anywhere.herokuapp.com/https://gallery.shinyapps.io/050-kmeans-example',function(){
                $('#myModal').modal({show:true});
            });
        });
        $('.openBtn1').on('click',function(){
            $('#content').load("test");
        });
        $('.openBtn2').on('click',function(){
            $('.modal-body').load('https://cors-anywhere.herokuapp.com/https://gallery.shinyapps.io/050-kmeans-example',function(){
                $('#myModal').modal({show:true});
            });
        });
    </script>
}
